@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100;1,900&family=Rubik+Mono+One&display=swap');
body {
    font-family: 'Rubik Mono One', monospace;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

p {
    font-family:'Roboto', sans-serif;
    font-style: italic;
    font-weight: 100;
}